body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #ffffff;
  background-color: #1A1919;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar{
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #212121;
}
:root {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  text-align: center;
  background-color: #540AAD;
  padding: 10px;
  font-size: 24px;
}

.category-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  max-width: 90%;
}

.category-line {
  width: 100%;
  border-top: 5px solid #666666;
  margin: 5px 0;
  font-size: 40px;
}

.character-container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  border: 3px #540AAD solid;
  border-radius: 10px;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
  background-color: #252526;
  border: 5px solid #7d63ff;
  border-radius: 14px;
  transition-duration: 1s;
  min-width: 40px;
}

.character-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px #000000;
  scale: 1.3;
  background-color: #252638;
}

.character {
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  height:25px;
}

.copy-button {
  display: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#header {
  color: #ffff;
  font-size: 20px;
  position: fixed;
  width: 100%;
  background-attachment: scroll;
  background-color: #141414;
  z-index: 10000;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 7px black;
}

#header h1 {
  margin: 15px;
  margin-left: 20px;
}

#side {
  background-color: #0C0C0C;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  margin-top: 70px;
  text-align: center;
  transition: padding-top 0.3s;
  transition: left 0.5s ease;
  overflow-y: auto;
}
#side button{
  margin:10px;
  color: #ffffff;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  border: 3px #540AAD solid;
  border-radius: 10px;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
  background-color: #252526;
  border: 5px solid #7d63ff;
  border-radius: 20px;
  transition-duration: 1s;
  width:90%;
}
#side button:hover{
  background-color: #252638;
  box-shadow: 0 5px 10px #000000;
}
#side a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 9000;
}

#toggleSideButton {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: right 0.5s ease;
  z-index: 1000;
  font-size: 20px;
}

#toggleSideButton:hover {
  background-color: transparent;
}

#charactersGrid {
  margin-left: 0;
  transition: margin-left 0.5s ease;
}

@media screen and (min-width: 601px) {
  #side {
    left: 0;
  }

  #toggleSideButton {
    display: none;
  }

  #charactersGrid {
    margin-left: 250px;
  }
}

@media screen and (max-width: 600px) {
  #side {
    left: -100%;
    width: 100%;
  }

  #toggleSideButton {
    right: 20px;
  }

  #charactersGrid {
    margin-left: 0;
  }
}

#scrollBar {
  height: 100%;
  width: 1px;
  top: 70px;
  position: fixed;
  left: 0;
  background-attachment: scroll;
  z-index: 9000;
}

#scrollIndicator {
  width: 100%;
  background-color: #7d63ff;
  transition: height 0.5s ease;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 5px 70px 5px #7d63ff;
}
footer {
  background-color: #121212;
  width: 100%;
  bottom: 0px;
  position: 
}
a{
  color: #ffffff;
  text-decoration: none;
}
#update{
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), #ffffff01);
  border: 2px solid #ffffff;
  border-radius: 10px;
  flex-direction: column;
  width: 350px;
  font-weight: bold;
  margin:20px;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}
#update h5{
  margin-top:5px;
  margin-bottom: 20px;
}

.stt {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(128, 128, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='White' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
  box-shadow: 0 0.25rem 0.5rem 0 gray;
  opacity: 0.7;
}

.stt:hover {
  opacity: 0.8;
}

.stt:focus {
  opacity: 0.9;
}

.stt:active {
  opacity: 1;
}
#up {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
textarea {
  resize: none;
  width: 400px;
  border-radius: 10px;
  font-size: 30px;
  margin:20px;
}
@media (max-width: 800px){
  textarea{
    display: none;
    margin: 10px;
  }
}
button:hover{
  cursor: pointer;
}
